html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
 
body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 212, 0.397),
    rgba(9, 187, 241, 0.253)
  );
  background-size: cover;
}
 
.gallery {
  margin:0;
  padding:0;
  border:0;
  height: 20rem;
  width: 20rem;
  position:relative;
  margin:0 auto;
  justify-content: center;
}
 
.pd6-photo {
  position: absolute;
  height: 25rem;
  transition: all 0.5s;
  outline-offset: 0.5rem;
}
  
.winniethepooh {
  margin:auto;
  top: 5rem;
  left: 36rem;
}
 
.Xi_Jinping_2019 {
  top: 10rem;
  left: 5rem;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.honeymustard {
  top: 35rem;
  left: 55rem;
}
.whalen {
  top: 40rem;
  left: 24rem;
}
.car {
  top: 40rem;
  left: -25rem;
}
.whalen:hover {
   filter: invert(75%);
}
.car:hover{
  filter: blur(4px);
}
.Xi_Jinping_2019:hover{
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
-webkit-transform: translateX(-100px);
transform: translateX(-100px);
}
.winniethepooh:hover {
  border-radius: 50%;
}

.honeymustard:hover{
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
}

.gallery:hover .pd6-photo:not(:hover){
  transform: scale(0.5);
  opacity: 0.3;
}
/* html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
 
body {
  text-align: center;
}
 
.gallery-parent {
  //text-align: center;
  margin: 0 auto;
  //width: 60rem;
  height: 60rem;
  width: 40rem;
}
 
.gallery {
  position: relative;
  height: 60rem;
}
 
.pd6-photo {
  height: 20rem;
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1rem;
}
 
.Xi_Jinping_2019 {
  top: 10rem;
  left: 15%;
}
 
.car {
  top: 20rem;
  right: -20rem;
}
 
.whalen {
  top: 30rem;
  left: 60rem;
  left: 50%;
}
 
.pd6-photo:hover{
    transform: scale(1.3);
    outline: 1rem solid #222;
    z-index: 2;
}
.gallery:hover .pd6-photo:not(:hover){
    transform: scale(0.5);
    opacity: 0.3;
} */
