html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
 
body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 212, 0.397),
    rgba(9, 187, 241, 0.253)
  );
  background-size: cover;
}
 
.gallery {
  margin:0;
  padding:0;
  border:0;
  height: 20rem;
  width: 20rem;
  position:relative;
  margin:0 auto;
  justify-content: center;
}
 
.pd6-photo {
  position: absolute;
  height: 25rem;
  transition: all 0.5s;
  outline-offset: 0.5rem;
}
  
.winniethepooh {
  margin:auto;
  top: 5rem;
  left: 36rem;
}
 
.Xi_Jingping_2019 {
  top: 15rem;
  left: -20rem;
}
 
.honeymustard {
  top: 35rem;
  left: 55rem;
}
.whalen {
  top: 40rem;
  left: 24rem;
}
 
.car {
  top: 45rem;
  left: -35rem;
}

.honeymustard:hover{
  transform: rotate(360deg);
  transition: 1s ease-in-out;
}

.pd6-photo:hover {
  transform: scale(1.5);
  outline: 0.05rem #222;
  z-index: 2;
}
 
.gallery:hover .pd6-photo:not(:hover){
  transform: scale(0.5);
  opacity: 0.3;
}
/* html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
 
body {
  text-align: center;
}
 
.gallery-parent {
  //text-align: center;
  margin: 0 auto;
  //width: 60rem;
  height: 60rem;
  width: 40rem;
}
 
.gallery {
  position: relative;
  height: 60rem;
}
 
.pd6-photo {
  height: 20rem;
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1rem;
}
 
.Xi_Jinping_2019 {
  top: 10rem;
  left: 15%;
}
 
.car {
  top: 20rem;
  right: -20rem;
}
 
.whalen {
  top: 30rem;
  left: 60rem;
  left: 50%;
}
 
.pd6-photo:hover{
    transform: scale(1.3);
    outline: 1rem solid #222;
    z-index: 2;
}
.gallery:hover .pd6-photo:not(:hover){
    transform: scale(0.5);
    opacity: 0.3;
} */
